!
! Bootstrap configuration for {{ hostname }} (Arista cEOS)
! Distribution switch configuration
!
hostname {{ hostname }}
!
! Configure VLANs
vlan 10
   name DATA_VLAN
!
! Management interface
interface Management0
   description Management Interface
   ip address {{ primary_ip4.address }}
   no shutdown
!
! Data interfaces - Layer 2 switchports
interface Ethernet1
   description Connected to access1
   switchport mode trunk
   switchport trunk allowed vlan 10
   no shutdown
!
interface Ethernet2
   description Connected to access2
   switchport mode trunk
   switchport trunk allowed vlan 10
   no shutdown
!
interface Ethernet3
   description Connected to rtr1
   switchport mode trunk
   switchport trunk allowed vlan 10
   no shutdown
!
! Enable gNMI
management api gnmi
   transport grpc default
      port 6030
!
! Enable NETCONF
management api netconf
   transport ssh default
!
! Admin user configuration
username admin privilege 15 secret admin
!
! Enable eAPI (REST API)
management api http-commands
   no shutdown
   protocol https
!
end

