!
! Bootstrap configuration for rtr1 (Arista cEOS)
! Router configuration
! PROBLEM: Ethernet2 is shutdown - breaks connectivity to mgmt!
!
hostname {{ hostname }}
!
! Configure VLANs
vlan 10
   name DATA_VLAN
!
! Management interface
interface Management0
   description Management Interface
   ip address 172.20.20.14/24
   no shutdown
!
! Data interfaces - Layer 2 switchports
interface Ethernet1
   description Uplink to dist1
   switchport mode trunk
   switchport trunk allowed vlan 10
   no shutdown
!
interface Ethernet2
   shutdown
   description Connected to mgmt server - DISABLED
   switchport mode access
   switchport access vlan 10
   ! PROBLEM: Interface is SHUTDOWN! Needs to be enabled
!
interface Ethernet3
   description Available for connections
   shutdown
!
! Enable gNMI
management api gnmi
   transport grpc default
      port 6030
!
! Enable NETCONF
management api netconf
   transport ssh default
!
! Admin user configuration
username admin privilege 15 secret admin
!
! Enable eAPI (REST API)
management api http-commands
   no shutdown
   protocol https
!
end
